<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moby Click</title>
<!--     <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="react-select.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

</head>
<body>
    <div id="main"></div>
 	<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

    <script src="bundle.js"></script>
</body>
</html>
